<template>
  <nav>
    <span class="brand">Silly Persons - Spring App</span>
    <a href="/list" class="float-right">[List of Persons]</a>
  </nav>

  <router-view></router-view>
</template>

<script setup>

</script>

<style>

</style>
