<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit Summary - Tax Simulation Web</title>
    {{> bootstrap }}
</head>
<body>
    {{> header }}
    <main class="mt-5 p-3">
        <h2>Summary of Audit</h2>
        {{#summary}}
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Count</th>
                        <th>Fraction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Must pay</td>
                        <td>{{ taxRestCount }}</td>
                        <td>{{ taxRestFraction }}%</td>
                    </tr>
                    <tr>
                        <td>No action needed</td>
                        <td>{{ taxEvenCount }}</td>
                        <td>{{ taxEvenFraction }}%</td>
                    </tr>
                    <tr>
                        <td>Will be payed</td>
                        <td>{{ taxReturnCount }}</td>
                        <td>{{ taxReturnFraction }}%</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Population</th>
                        <td colspan="2">{{ population }}</td>
                    </tr>
                </tfoot>
            </table>
        {{/summary}}

        <p><em>{{ elapsed }}</em></p>
    </main>
    {{> footer }}
</body>
</html>
