<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tax Simulation Web</title>
    {{> bootstrap }}
</head>
<body>
    {{> header }}
    <main class="mt-5 p-3">
        <p>
            Welcome to this silly Spring Boot Classic WebApp
        </p>
        <h3>Links</h3>
        <ul>
            <li><a href="/summary">Summary of Tax Results</a></li>
            <li><a href="/population">List of Person</a></li>
        </ul>
    </main>
    {{> footer }}
</body>
</html>
