<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Population - Tax Simulation Web</title>
    {{> bootstrap }}
</head>
<body>
    {{> header }}
    <main class="mt-5 p-3">

        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Person Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Employer</th>
                    <th>Salary</th>
                    <th>TAX %</th>
                    <th>Deducted Tax</th>
                    <th>Final Tax</th>
                    <th>Tax Difference</th>
                </tr>
            </thead>
            <tbody>
                {{#items}}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ personNumber }}</td>
                        <td>{{ firstName }}</td>
                        <td>{{ lastName }}</td>
                        <td>{{ employer }}</td>
                        <td>{{ salary }}</td>
                        <td>{{ taxPercentage }}</td>
                        <td>{{ deductedTax }}</td>
                        <td>{{ finalTax }}</td>
                        <td>{{ taxDifference }}</td>
                    </tr>
                {{/items}}
            </tbody>
        </table>
        <nav class="d-flex justify-content-between">
            <div class="fst-italic">Page Number: {{ page }}</div>
            <ul class="pagination ">
                <li class="page-item"><a class="page-link" href="/population?nav=first&page={{page}}"> |&lt; First </a></li>
                <li class="page-item"><a class="page-link" href="/population?nav=prev&page={{page}}"> &lt;&lt; Prev </a></li>
                <li class="page-item"><a class="page-link" href="/population?nav=next&page={{page}}"> Next &gt;&gt; </a></li>
                <li class="page-item"><a class="page-link" href="/population?nav=last&page={{last}}"> Last &gt;| </a></li>
            </ul>
            <div class="fst-italic">Total Pages: {{ totalPages }}</div>
        </nav>
    </main>
    {{> footer }}
</body>
</html>
