<template>
    <main>
        <h1 >Page Not Found</h1>
        <div>
            <img :src="image" alt="not found" class="img-fluid">
        </div>
    </main>
</template>

<script setup>
import notFoundUrl from '../assets/not-found.png'

const image = notFoundUrl
</script>

<style scoped>
img {
    width: 20em;
}
</style>

