<template>
    <div class="container">
        <h1>Person ID: {{ person.id }}</h1>
        <div class="card" style="width: 25em;">
            <img :src="person.avatar">
            <h1>{{ person.name }}</h1>
            <h2>{{ person.email }}</h2>
            <h3>{{ person.company }}</h3>
            <p class="center">Age {{ person.age }}</p>
            <div class="buttons">
                <a @click.prevent="cancel" class="btn btn-secondary"> Cancel </a>
                <router-link :to="'/edit/' + person.id" class="btn"> Edit </router-link>
                <a @click.prevent="removeItem(person.id)" class="btn btn-danger"> Remove </a>
            </div>
        </div>
    </div>
</template>

<script setup>
    import {ref, onMounted} from 'vue'
    import {useRouter} from 'vue-router'
    import {findById, remove} from '../persons.dao.js'

    const props = defineProps({
        id: String
    })

    const router = useRouter()
    const person = ref({})

    const cancel = () => {
        router.back()
    }
    const loadItem = async () => {
        person.value = await findById(props.id)
    }
    const removeItem = async (id) => {
        await remove(id)
        cancel()
    }

    onMounted(loadItem)
</script>

<style scoped>

</style>