<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Peson</title>
    <link rel="stylesheet" href="/style.css">
    <script defer type="module">
        import {loadById, update, save} from '/js/person.svc.js'

        function populateCard(parentNode, person) {
            parentNode.innerHTML = `
                <h1>Person ID: ${person.id}</h1>
                <div class="card" style="width: 30em;">
                    <div class="center">
                        <img src="${person.avatar}" class="avatar" style="width: 15em;">
                    </div>
                    <div style="padding: 1em;">
                        <label for="name">name
                            <input type="text" id="name" name="name" value="${person.name}" placeholder="Full Name">
                        </label>
                        <label for="email">email
                            <input type="email" id="email" name="email" value="${person.email}" placeholder="Email Address">
                        </label>
                        <label for="company">company
                            <input type="text" id="company" name="company" value="${person.company}" placeholder="Company Name">
                        </label>
                        <label for="age">age
                            <input type="number" id="age" name="age" value="${person.age}" placeholder="Age" min="20" max="85">
                        </label>
                    </div>
                    <div class="buttons">
                        <button type="button" class="save btn btn-success">Save</button>
                        <a href="/show/${person.id}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
    `
        }

        (async () => {
            const id = Number('{{id}}')
            const item = await loadById(id)
            const container = document.querySelector('.container')
            populateCard(container, item)

            const saveBtn = document.querySelector('.save')
            saveBtn.addEventListener('click', async (ev) => {
                ev.preventDefault()
                const form = document.querySelector('#form')
                const formData = new FormData(form)
                const jsData = Object.fromEntries(formData.entries())

                if (id === -1) {
                    const obj = await save(jsData)
                    location.assign('/show/' + obj.id)
                } else {
                    await update(id, jsData);
                    location.assign('/show/{{id}}')
                }
            })
        })()
    </script>
</head>
<body>
    {{> navbar}}
    <form id="form">
        <div class="container">
            <!--AJAX-->
        </div>
    </form>
</body>
</html>
