{{#info}}
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                {{ name }}, Version {{ version }}
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/summary">Audit Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/population">Population</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{/info}}
